<footer class="footer uk-position-fixed uk-position-bottom">
  <div class="uk-padding-small">
    <div class="uk-padding-small uk-flex uk-flex-between uk-flex-middle menu">
      <div
        routerLinkActive="uk-active"
        routerLink="/home"
        class="menu-item uk-margin-small-left"
      >
        <i data-feather="home"></i>
      </div>
      <div
        routerLinkActive="uk-active"
        routerLink="/categories"
        class="menu-item"
      >
        <i data-feather="list"></i>
      </div>
      <div
        [class.uk-hidden]="btnEdit"
        class="menu-item add uk-border-circle uk-padding-small waves-float"
      >
        <a class="uk-link-reset" href="#modal-meeting" uk-toggle>
          <i data-feather="plus"></i>
        </a>
      </div>
      <div id="modal-meeting" class="uk-flex-top uk-padding" uk-modal>
        <div
          class="uk-modal-dialog uk-margin-auto-vertical uk-padding uk-border-rounded"
        >
          <p>Dê um nome para identificar sua lista</p>
          <div class="uk-margin">
            <input
              type="text"
              [(ngModel)]="meeting"
              placeholder="nome da sua lista"
              class="uk-input uk-border-rounded"
            />
          </div>
          <div class="uk-flex uk-flex-between">
            <a
              class="uk-button uk-width-1-1 uk-button-muted uk-border-rounded uk-modal-close"
              >Cancelar</a
            >
            <a
              (click)="
                btnEdit = true; setEditMode(true); createMeetingList(meeting)
              "
              class="uk-button uk-width-1-1 uk-button-primary uk-border-rounded uk-modal-close"
              >Iniciar</a
            >
          </div>
        </div>
      </div>
      <div
        (click)="btnEdit = false; setEditMode(false); saveList()"
        [class.uk-hidden]="!btnEdit"
        class="menu-item check uk-border-circle uk-padding-small waves-float"
      >
        <i data-feather="check"></i>
      </div>
      <!--div routerLinkActive="uk-active" routerLink="/values" class="menu-item">
        <i data-feather="grid"></i>
      </div !-->
      <div routerLinkActive="uk-active" routerLink="/movies" class="menu-item">
        <i data-feather="monitor"></i>
      </div>
      <div
        routerLinkActive="uk-active"
        routerLink="/books"
        class="menu-item uk-margin-small-right"
      >
        <i data-feather="book-open"></i>
      </div>
    </div>
  </div>
</footer>
<div id="createMeet" uk-modal="esc-close: false; bg-close: false">
  <div
    class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-border-rounded"
  >
    <h2 class="uk-modal-title">Nova Listagem</h2>
    <p>
      Você pode criar listas personalizadas para utilizar durante um
      atendimento.
    </p>
    <p>
      Coloque um nome para identificar sua lista e clique em "OK" para iniciar a
      criação da lista.
    </p>
    <div class="uk-margin">
      <input
        type="text"
        placeholder="nome da lista"
        class="uk-input uk-border-rounded"
      />
    </div>
    <p class="uk-flex uk-flex-between">
      <button
        class="uk-button uk-border-rounded uk-button-default uk-modal-close"
        type="button"
      >
        Cancelar
      </button>
      <button
        class="uk-button uk-border-rounded uk-button-primary uk-modal-close"
        type="button"
      >
        OK
      </button>
    </p>
  </div>
</div>
