<div [ngSwitch]="tipo">
  <div *ngSwitchCase="1"
    class="uk-card uk-margin-xsmall uk-padding-xxsmall uk-card-default uk-border-rounded uk-width-auto">
    <p [routerLink]="link" class="uk-margin-remove uk-text-bold">{{ title }}</p>
  </div>
  <div *ngSwitchCase="2" class="uk-card uk-margin-small uk-padding-xxsmall uk-card-default uk-border-rounded">
    <p class="uk-margin-remove">{{ title }}</p>
  </div>
  <div *ngSwitchCase="3">
    <div [routerLink]="link" class="uk-card uk-card-small uk-card-default uk-margin-small uk-border-rounded">
      <div class="uk-card-media-top">
        <img [src]="image" alt="">
      </div>
      <div class="uk-padding-small">
        <h5 class="uk-h5 uk-margin-remove uk-text-center">{{ title }}</h5>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="4" [class.uk-card-primary]="!id" (click)="!id"
    class="uk-card uk-margin-small uk-padding-small uk-card-default uk-border-rounded">
    <small class="uk-text-small">{{ title }}</small>
  </div>
  <div *ngSwitchCase="5">
    <div [routerLink]="link" class="uk-card uk-card-default uk-grid-collapse uk-margin" uk-grid>
      <div class="uk-card-media-left uk-cover-container">
        <img [src]="image" alt="" uk-cover>
        <canvas width="100" height="100"></canvas>
      </div>
      <div class="uk-width-expand">
        <div class="uk-card-body">
          <h3 class="uk-h4">{{ title }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchDefault>output2</div>
</div>