<header  id="header" class="uk-container" uk-sticky="animation: uk-animation-slide-top; cls-active: uk-navbar-sticky uk-background-primary uk-light; top: 200 ;cls-inactive: ">
  <nav class="uk-navbar" uk-navbar>
    <div class="uk-navbar-left">
      <div class="uk-navbar-item">
        <h2 class="uk-margin-remove">
          <span class="uk-text-primary">.</span>scap
        </h2>
      </div>
    </div>
    <div class="uk-navbar-right">
      <div class="uk-navbar-item">
        <a class="uk-text-primary" href="#sidebar" uk-toggle>
          <i data-feather="menu"></i>
        </a>
      </div>
    </div>
</nav>
</header>