$global-font-family: 'Poppins', sans-serif;
$global-primary-background: #7367F0;
$global-muted-background:  #eef3f5;
$global-inverse-color: #f5f6fd;
$offcanvas-bar-background: darken($global-primary-background, 5%) !default;
$offcanvas-overlay-background: rgba(250,250,250,0.3);
$global-danger-background: #ff0000;
$global-success-background: #4caf50;